In [8]:
import pandas as pd
import numpy

In [12]:
measure_df = pd.read_csv("Resources/hawaii_measurements.csv")
measure_df = measure_df.dropna(axis=0)

#measure_df=measure_df.fillna(value=0)
measure_df

           station        date  prcp  tobs
0      USC00519397  2010-01-01  0.08    65
1      USC00519397  2010-01-02  0.00    63
2      USC00519397  2010-01-03  0.00    74
3      USC00519397  2010-01-04  0.00    76
5      USC00519397  2010-01-07  0.06    70
6      USC00519397  2010-01-08  0.00    64
7      USC00519397  2010-01-09  0.00    68
8      USC00519397  2010-01-10  0.00    73
9      USC00519397  2010-01-11  0.01    64
10     USC00519397  2010-01-12  0.00    61
11     USC00519397  2010-01-14  0.00    66
12     USC00519397  2010-01-15  0.00    65
13     USC00519397  2010-01-16  0.00    68
14     USC00519397  2010-01-17  0.00    64
15     USC00519397  2010-01-18  0.00    72
16     USC00519397  2010-01-19  0.00    66
17     USC00519397  2010-01-20  0.00    66
18     USC00519397  2010-01-21  0.00    69
19     USC00519397  2010-01-22  0.00    67
20     USC00519397  2010-01-23  0.00    67
21     USC00519397  2010-01-24  0.01    71
22     USC00519397  2010-01-25  0.00    67
23     USC00519397  2010-01-26  0.04    76
24     USC00519397  2010-01-27  0.12    68
25     USC00519397  2010-01-28  0.00    72
27     USC00519397  2010-01-31  0.03    67
28     USC00519397  2010-02-01  0.01    66
30     USC00519397  2010-02-04  0.01    69
31     USC00519397  2010-02-05  0.00    67
32     USC00519397  2010-02-06  0.00    67
...            ...         ...   ...   ...
19513  USC00516128  2017-07-17  0.39    72
19514  USC00516128  2017-07-18  2.40    77
19515  USC00516128  2017-07-19  0.27    74
19516  USC00516128  2017-07-20  0.70    75
19517  USC00516128  2017-07-21  0.10    72
19518  USC00516128  2017-07-22  4.00    72
19519  USC00516128  2017-07-23  0.80    78
19520  USC00516128  2017-07-24  0.84    77
19521  USC00516128  2017-07-25  0.30    79
19522  USC00516128  2017-07-26  0.30    73
19523  USC00516128  2017-07-27  0.00    75
19524  USC00516128  2017-07-28  0.40    73
19525  USC00516128  2017-07-29  0.30    77
19526  USC00516128  2017-07-30  0.30    79
19527  USC00516128  2017-07-31  0.00    74
19529  USC00516128  2017-08-02  0.25    80
19530  USC00516128  2017-08-03  0.06    76
19533  USC00516128  2017-08-07  0.05    78
19534  USC00516128  2017-08-08  0.34    74
19535  USC00516128  2017-08-09  0.15    71
19536  USC00516128  2017-08-10  0.07    75
19538  USC00516128  2017-08-12  0.14    74
19540  USC00516128  2017-08-14  0.22    79
19541  USC00516128  2017-08-15  0.42    70
19542  USC00516128  2017-08-16  0.42    71
19543  USC00516128  2017-08-17  0.13    72
19545  USC00516128  2017-08-19  0.09    71
19547  USC00516128  2017-08-21  0.56    76
19548  USC00516128  2017-08-22  0.50    76
19549  USC00516128  2017-08-23  0.45    76

[18103 rows x 4 columns]

In [13]:
station_df = pd.read_csv("Resources/hawaii_stations.csv")
station_df

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

In [14]:
measure_df.to_csv("Resources/clean_measurements.csv", index=False)

In [15]:
station_df.to_csv("Resources/clean_station.csv", index=False)

In [16]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float

In [17]:
# Create an engine to a SQLite database file called `customers.sqlite`
engine = create_engine("sqlite:///hawaii.sqlite")

In [18]:
# Create a connection to the engine called `conn`
conn = engine.connect()

In [19]:
Base = declarative_base()


class Measurements(Base):
    __tablename__ = 'measurements'
#     __table_args__ = {'extend_existing': True} # this will replacec existing metadata for measurements table/class
    id = Column(Integer, primary_key=True)
    station = Column(Text)
    date = Column(Text)
    prcp = Column(Float)
    tobs = Column(Float)
    
    def __repr__(self):
        return f"id={self.id}, station={self.station}, prcp={self.prcp},tobs={self.tobs}"
    
class Stations(Base):
    __tablename__ = 'stations'
    
    id = Column(Integer, primary_key = True)
    station = Column(Text)
    name = Column(Text)
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)
    
    def __repr__(self):
        return f" id = {self.id}, station = {self.station}, name = {self.name},latitude = {self.latitude},longitude = {self.longitude},elevation = {self.elevation}"

In [20]:
Base.metadata.create_all(engine)

In [21]:
new_df = pd.read_csv("Resources/clean_measurements.csv")
new_df_1 = pd.read_csv("Resources/clean_station.csv")

In [22]:
# Use Orient='records' to create a list of data to write
# to_dict() cleans out DataFrame metadata as well
# http://pandas-docs.github.io/pandas-docs-travis/io.html#orient-options
data_m = new_df.to_dict(orient='records')
data_s = new_df_1.to_dict(orient='records')

In [24]:
# Data is just a list of dictionaries that represent each row of data
print(data_m[:5])

[{'station': 'USC00519397', 'date': '2010-01-01', 'prcp': 0.08, 'tobs': 65}, {'station': 'USC00519397', 'date': '2010-01-02', 'prcp': 0.0, 'tobs': 63}, {'station': 'USC00519397', 'date': '2010-01-03', 'prcp': 0.0, 'tobs': 74}, {'station': 'USC00519397', 'date': '2010-01-04', 'prcp': 0.0, 'tobs': 76}, {'station': 'USC00519397', 'date': '2010-01-07', 'prcp': 0.06, 'tobs': 70}]

In [23]:
print(data_s[:5])

[{'station': 'USC00519397', 'name': 'WAIKIKI 717.2, HI US', 'latitude': 21.2716, 'longitude': -157.8168, 'elevation': 3.0}, {'station': 'USC00513117', 'name': 'KANEOHE 838.1, HI US', 'latitude': 21.4234, 'longitude': -157.8015, 'elevation': 14.6}, {'station': 'USC00514830', 'name': 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 'latitude': 21.5213, 'longitude': -157.8374, 'elevation': 7.0}, {'station': 'USC00517948', 'name': 'PEARL CITY, HI US', 'latitude': 21.3934, 'longitude': -157.9751, 'elevation': 11.9}, {'station': 'USC00518838', 'name': 'UPPER WAHIAWA 874.3, HI US', 'latitude': 21.4992, 'longitude': -158.0111, 'elevation': 306.6}]

In [25]:
# Use MetaData from SQLAlchemy to reflect the tables
metadata = MetaData(bind=engine)
metadata.reflect()

In [26]:
# Save the reference to the `customers` table as a variable called `table`
stations_table = sqlalchemy.Table('stations', metadata, autoload=True)
measurements_table = sqlalchemy.Table('measurements', metadata, autoload=True)

In [27]:
# direct reference
stations_table = Stations.__table__
measurements_table=Measurements.__table__

In [28]:
# Use `table.delete()` to remove any pre-existing data.
# Note that this is a convenience function so that you can re-run the example code multiple times.
# You would not likely do this step in production.
conn.execute(stations_table.delete())
conn.execute(measurements_table.delete())

In [30]:
# Use `table.insert()` to insert the data into the table
# The SQL table is populated during this step
conn.execute(stations_table.insert(), data_s)
conn.execute(measurements_table.insert(), data_m)

In [31]:
# Test that the insert works by fetching the first 5 rows. 
conn.execute("select * from measurements limit 5").fetchall()

[(1, 'USC00519397', '2010-01-01', 0.08, 65.0),
 (2, 'USC00519397', '2010-01-02', 0.0, 63.0),
 (3, 'USC00519397', '2010-01-03', 0.0, 74.0),
 (4, 'USC00519397', '2010-01-04', 0.0, 76.0),
 (5, 'USC00519397', '2010-01-07', 0.06, 70.0)]

In [32]:
conn.execute("select * from stations limit 5").fetchall()

[(1, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0),
 (2, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 (3, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0),
 (4, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9),
 (5, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6)]